body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    margin-bottom: 30px;
}
h1 {
    margin: 0;
}
section {
    padding: 20px;
    margin: 0 auto;
    max-width: 800px;
}
.contact-info,
.skills,
.interests,
.languages,
.reference,
.about-me,
.education-background,
.experience,
.projects,
.additional-info,
.declaration {
    margin-bottom: 20px;
}
.contact-info h2,
.skills h2,
.interests h2,
.languages h2,
.reference h2,
.about-me h2,
.education-background h2,
.experience h2,
.projects h2,
.additional-info h2,
.declaration h2 {
    margin-top: 0;
    color: #333;
}
.contact-info p {
    margin: 5px 0;
}
.skills ul,
.interests ul,
.languages ul,
.education-background ul,
.experience ul,
.projects ul,
.additional-info ul {
    list-style-type: none;
    padding: 0;
}
.skills li,
.interests li,
.languages li,
.education-background li,
.experience li,
.projects li,
.additional-info li {
    margin-bottom: 5px;
}
